@using ControleDeBar.WebApp.Models

@model VisualizarCardsViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Praticando";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">

                <div>
                    @foreach (var item in Model.Cards)
                    {
                        if (item.Numero == Model.Contador)
                        {
                            <h3>@item.TextoTras</h3>
                            Model.
                            Contador++;
                            break;
                        }
                    }


                    <form asp-action="Praticar" method="get">
                        <input type="hidden" asp-for="Contador" />
                    </form>

                    <a href="/praticar/praticar/secao/@Uri.EscapeDataString(Model.SecaoEscolhida)/@Model.Contador" class="btn btn-dark rounded-3 px-5 position-absolute bottom-0 end-0 m-3">Proximo Card</a>
                </div>
            </div>
        </div>
    </div>
</div>