<style>
    :root {
        --cinza-morno: #333333;
    }

    .bg-cinza-morno {
        background-color: var(--cinza-morno) !important;
        color: white !important;
    }

    }
</style>
<nav class="navbar navbar-expand-lg bg-cinza-morno">
    <div class="container">
        <a class="navbar-brand fs-2 fw-bold text-white" href="/">FlashGo</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav gap-2 ms-auto">
                <li class="fs-5 nav-item">
                    <a class="text-white nav-link fw-semibold" href="/cards">Criar Cards</a>
                </li>
                <li class="fs-5 nav-item">
                    <a class="text-white nav-link   fw-semibold" href="/praticar">Praticar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
